

#carouselExampleSlidesOnly1 .carousel-item img {
    max-width: 70%; 
    height: auto; 
    display: block;
    margin: 150px auto;  
  }
  #carouselExampleSlidesOnly2 .carousel-item img,
.card-group .card img.card-img-top {
    max-width: 45%; 
    height: auto; 
    display: block;
    margin: 150px auto;  
}

  .col-md-7 {
    margin: auto;
    max-width: 100%;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra de navegación esté en la parte superior */

}