#carouselExampleSlidesOnly1 .carousel-item img {
  max-width: 80%; 
  height: auto; 
  display: block;
  margin: 150px auto;  
}

.col-md-7 {
  margin: auto;
  max-width: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 1030; /* Asegurarse de que esté por encima de otros elementos */
}



.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 80px 0;
}

/* Tarjeta individual */
.card {
  flex: 1 1 calc(33.333% - 40px); /* 3 tarjetas por fila, con espacio entre ellas */
  max-width: calc(33.333% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}


.card:hover {
  /* animacion */
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen de la tarjeta */
.card-img-top {
  width: 100%;
  height: auto;
}

/* Texto de la tarjeta */
.card-body {
  text-align: center;
}

/* Títulos de las secciones */
h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Para pantallas más pequeñas */
@media (max-width: 768px) {
  .card {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
  }

#carouselExampleSlidesOnly1 .carousel-item img {
    max-width: 70%; 
    height: auto; 
    display: block;
    margin: 150px auto;  
  }
  #carouselExampleSlidesOnly2 .carousel-item img,
.card-group .card img.card-img-top {
    max-width: 45%; 
    height: auto; 
    display: block;
    margin: 150px auto;  

}

@media (max-width: 576px) {
  .card {
      flex: 1 1 100%; 
      max-width: 100%;
  }

}


  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    z-index: 1030; /* Asegurarse de que esté por encima de otros elementos */
  }}