

html{

    overflow-x: auto;
    
}



.title{
 
    text-align: center;
}

.carrusel{

display: block;

padding-top: 60%;

}

.images{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

footer{

    padding-top: 90px;
}
header{

    /* background-image:url(../images/background.jpg) ; */
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(../images/background.jpg);
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir todo el header */
    background-position: center; /* Centra la imagen de fondo dentro del header */
    opacity: 0.2;
}

.content-main { 


    padding-top: 90px;

}

#main-title{
    position: absolute;
    top: 87%;
    left: 5%;
    justify-content: left;
    object-position: bottom;
    font-family: "font-family:Baskerville";
    font-size: 60px;

}

#nav {
    
    position: absolute;
    top: 100%;
    left: 35%;
    font-size:20px;
    text-decoration: none;

}

a:hover{
    color:red;
}
