

header{
  padding: 10px;
background-color: rgb(255, 255, 255);
}



nav {
  font-size: 135%;
  list-style: none;
  position: absolute;
  top: 20px;
  left: 55%;
  text-decoration: none;
}
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 100px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover {
  color: #f00;
}




.login-card {
  
    transform: translate(-50px, -100px);
    width: 300px;
    background-color: #d2d2d2; /* Cambia el color de fondo a uno sólido */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 15%; /* Ajusta la distancia desde la parte superior */
}
  
  .login-card h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    color: black;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ececec;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }

  body  {
    background-color: rgba(216, 216, 216, 0.752);
    
  }
  footer{
    
    background: linear-gradient(rgba(122, 121, 121, 0.752), rgba(16, 16, 16, 0.842));
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: -16px;
    margin-top: 29.5px; 
    
  }
  