

/* CSS WHO-IM? */


header{

    background-color: white;
    padding: 10px;
}


body {

    margin-top:2%;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0,0, 0.5), rgba(0, 0,0, 0.1)), url(../images/background.jpg);
    background-size: cover; 
    

}


/* NAVBAR */
nav {
  font-size: 135%;
  list-style: none;
  position: absolute;
  top: 20px;
  left: 55%;
  text-decoration: none;
  }
  nav ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  
nav ul li {
  margin-right: 100px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
nav ul li a {
    text-decoration: none;
    color: #000000;
}
  
nav ul li a:hover {
    color: #f00;
}


footer{
    background-color: black;
    padding-top: 90px;
    margin-top: 30px;
}







