

/* CSS WHO-IM? */


header{

    background-color: white;
    padding: 10px;
}




/* NAVBAR */
nav {

  font-size: 135%;
  list-style: none;
  position: absolute;
  top: 20px;
  left: 55%;
  text-decoration: none;
  }
  nav ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  
nav ul li {
  margin-right: 100px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
nav ul li a {
    text-decoration: none;
    color: #000000;
}
  
nav ul li a:hover {
    color: #f00;
}



body  {
  background-color: rgba(216, 216, 216, 0.752);
  
  
}
footer{
  margin-top: 0;
  background: linear-gradient(rgba(122, 121, 121, 0.752), rgba(16, 16, 16, 0.842));
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: -16px ;
  margin-top: 154px; 
}





