
/* EDICION DE IMAGENES */

.images{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 50%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    border-radius: 10px;
}


#imagenLogo{
    display:flex;
    margin-top: 20%;
    margin-left: -5%;
 

}

.carrusel{

    display: block;
    padding-top: 60%;
    
    }



.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
        
} 
/* 
header{


    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(../images/background.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.9;
} */


/* EDICION HTML */

html{

    overflow-x: auto;
    background-color: black;
}

body   {

    background-color: black;
}


.title{
 
    text-align: center;
}



footer{
  background-color: black;
  padding-top: 90px;
  margin-top: 30px;
}



.content-main { 


    padding-top: 90px;

}

#main-title{
    position: absolute;
    top: 80%;
    left: 5%;
    justify-content: left;
    object-position: bottom;
    font-family: "font-family:Baskerville";
    font-size: 60px;

}




header {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(../images/background.jpg);
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover; 
    background-position: center;
  }
  
  #main-title {
    margin-right: auto;
  }
  
  nav {
    font-size: 200%;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 25%;
    text-decoration: none;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 200px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    color: #f00;
  }